[package]
name = "db"
version.workspace = true
edition.workspace = true

[dependencies]
cozo = { version = "0.7.6", default-features = false, features = ["compact", "storage-sqlite"] }
thiserror = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
